.table {
  width: 100%;
}
.rowGroup {
  display:table-row-group;
}
.cell + .cell {
  border-left: none;
}

.row > .cell {
  border-bottom: none;
}

.row:last-child > .cell {
  border-bottom: #000 solid 1px;
}
.cell {
  width: 30%;
  padding: 6px 12px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

  

.row:nth-child(even) {
  background: #cccccc;
}
.row{
  font-weight: 900;
    color: rgb(0, 0, 0);
    border-collapse: collapse;
    line-height: 1.42857143;
    resize: both;
    overflow: hidden;
    /* display: inline-block; (theo cot)*/
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cellhd {
    display: inline-block;
    width: 30%;
    padding: 6px 12px;
    background-color: #27ae60;
    color: #f2f2f2;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cellhdno {
  display: inline-block;
  width: 10%;
  padding: 6px 12px;
  background-color: #27ae60;
  color: #f2f2f2;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cellno {
  width: 10%;
  padding: 6px 12px;
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
